@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Blac-Italic.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Black-Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Black.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Bold.woff2') format('woff2'),
        url('../fonts/TypeDynamic-Sailec-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Bold-Italic.woff2') format('woff2'),
        url('../fonts/TypeDynamic-Sailec-Bold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Hairline-Italic.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Hairline-Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Hairline.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Hairline.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Light-Italic.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Light-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Light.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Medium-Italic.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Medium.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Regular-Italic.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Regular-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Thin-Italic.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Thin-Italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Type-Dynamic-Sailec-Thin.woff2') format('woff2'),
        url('../fonts/Type-Dynamic-Sailec-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

